<div class="row panel panel-default">
    <div class="btn-group btn-group-justified">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></button>
        </div>
    </div>
</div>
<div class="row panel panel-default">
    <ul class="list-group" style="font-size: 11px; color: grey">
        <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"></span> 广东 广州</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-education"></span>
            广州市天秀中学</br>
            广州市天河中学</br>
            广东海洋大学</br></li>
        <li class="list-group-item"><span class="glyphicon glyphicon-gift"></span></li>
        <li class="list-group-item"><span class="glyphicon glyphicon-calendar"></span></li>
        <li class="list-group-item"><span class="glyphicon glyphicon-tasks"></span></li>
    </ul>
</div>
<div class="row panel panel-default">
    <div class="panel-heading" style="color: grey">Article 文章</div>
    <ul class="list-group" style="font-size: 15px; color: black">
        {% if not articles %}
            <div id="none-article">大佬没空写文章</div>
        {% else %}
            {% for article in articles %}
            <li class="list-group-item"><span class="label label-info">{{ article.category.name }}</span>
                <a href="{{ url_for('.article_body', id = article.id) }}" style="color: #000000">{{ article.title }}</a></li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
<div class="row panel panel-default">
    <div class="panel-heading" style="color: grey">MessageBoard 留言板</div>
    <ul class="list-group" style="font-size: 15px">
        <li class="list-group-item"><span class="label label-default">someone</span>Leave something</li>
        <li class="list-group-item"><span class="label label-default">someone</span>Leave something</li>
        <li class="list-group-item"><span class="label label-default">someone</span>Leave something</li>
        <li class="list-group-item"><span class="label label-default">someone</span>Leave something</li>
    </ul>
</div>
<div class="row panel panel-default">
    <div class="panel-heading" style="color: grey">LatestGuest 最近访客</div>
    <span class="label label-warning" style="display: inline-block;">192.168.1.107 from Guangzhou</span>
    <span class="label label-warning" style="display: inline-block;">192.168.1.107 from Guangzhou</span>
    <span class="label label-warning" style="display: inline-block;">192.168.1.107 from Guangzhou</span>
    <span class="label label-warning" style="display: inline-block;">192.168.1.107 from Guangzhou</span>
    <span class="label label-warning" style="display: inline-block;">192.168.1.107 from Guangzhou</span>
</div>